@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mochiy+Pop+One&family=Oswald:wght@200;300;400;500&family=Poppins:wght@200;300;500&family=Quintessential&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#FFBF00;
    --sec-color:#040404;
    --text-color:#fff;
}

.logo{
    margin-left: 25px;
    font-family: 'Quintessential', cursive;
    font-size: 20px;
    margin-top: 5px;

}
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    margin-top: 7px;
    list-style: none;
    margin-right: 35px;

}
nav ul li{
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
}
.home-section{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/images/bg.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-img{
    width: 50%;
    height: 400px;
    background-image: url(/images/h1.jpg) ;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
 
    
}
.home-text-content{
    width: 50%;
    background-color: var(--text-color);
    padding: 70px 10px;
    border-radius: 10px;
    margin-left: -100px;
    
    
}
.home-text-content h3{
    font-family: 'Quintessential', cursive ,sans-serif;
    font-size: 30px;


}
.home-text-content h2{
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: var(--sec-color);
    font-size: 30px;

}

/*services section*/

.services{
    width: 100%;
    height: 110vh;
    
}
.personal-shoot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
}
.personal-img{
    flex-basis: 50%;
    width: 50px;
    height: 250px;
}

.personal-img img{
    width: 80%;
    border-radius: 7px;
    margin-left: 25px;
}
.single-service{
    flex-basis: 50%;
    padding: 45px;
    line-height: 27px;
}
.single-service h2 span{
    color: var(--main-color);
}
.group-shoot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.group-img{
    flex-basis: 50%;
    width: 200px;
    height: 150px;
}

.group-img img{
    width: 80%;
    border-radius: 7px;
    margin-left: 25px;
}
.group-service{
    flex-basis: 50%;
    padding: 45px;
    line-height: 27px;
}
.group-service h2 span{
    color: var(--main-color);
}

/* gallery section */


.gallery-section{
    width: 100%;
    height: 80vh;
    background-color: var(--sec-color);
    position: relative;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}


.gallerys-header{
    color: var(--text-color);
    padding-top: 50px;
    text-align: center;
    letter-spacing: 8px;
    
}
.gallerys-header hr{
    width: 20%;
    margin: auto;
    margin-top: 5px;
    
}
.gallery-pics{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    grid-template-columns: repeat(auto-fill,minmax(300px,250px));
    column-gap: 10px;
    margin-top: 60px;
}
.gallery-pics img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;

}
.btn{
    color: var(--text-color);
    position: absolute;
    left: 47%;
    bottom: 45px;
    background-color: var(--main-color);
    padding: 15px;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 7px;

    
}


/* footer */

.footer{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
